<section
  class="flex flex-col space-y-24 md:space-y-0 md:flex-row xl:w-[79vw] xl:ml-[20vw] items-center justify-center md:justify-between bg-[#020202] h-screen relative md:p-8 p-4"
>
  <div
    class="flex flex-col w-full lg:w-1/2 items-center justify-start space-y-4"
  >
    <h1 class="text-3xl xl:text-4xl text-white font-bold font-playfair italic">
      EXPERTISE
    </h1>
    <div class="flex flex-col items-start justify-start space-y-8">
      <ul
        class="flex flex-col items-center xs:items-start justify-center text-start list-disc"
      >
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          Frontend Development
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          Backend Development
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          Database Management
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          API Integration
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          Version Control
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          Project Management
        </li>
        <li
          class="marker:text-[#fff] text-[#B300FF] text-2xl font-bold font-mono italic"
        >
          DevOps
        </li>
      </ul>
    </div>
  </div>
  <div
    class="flex flex-col w-full lg:w-1/2 items-center justify-center space-y-4"
  >
    <div class="flex flex-col items-start justify-start space-y-4">
      <h1 class="text-3xl xl:text-4xl text-white font-mono font-bold">
        Basic<span class="text-[#B300FF]">:</span>
      </h1>
      <div class="flex flex-row items-start justify-between space-x-2">
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/cpp_logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/PHP-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/postgresql-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/python-logo.png" class="" />
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start space-y-4">
      <h1 class="text-4xl xl:text-5xl text-[#B300FF] font-italiano font-bold">
        Proficient <span class="text-white">:</span>
      </h1>
      <div class="flex flex-row items-start justify-between space-x-2">
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/javascript-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/nodejs-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/expressjs-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/nestjs-logo.png" class="" />
        </div>
      </div>
      <div class="flex flex-row items-start justify-between space-x-2">
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/mysql-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/angular-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/html-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/css_logo.png" class="" />
        </div>
      </div>
      <div class="flex flex-row items-start justify-between space-x-2">
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/bootstrap_logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/tailwind-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/git-logo.png" class="" />
        </div>
        <div
          class="flex w-[80px] h-[80px] rounded-[50%] pt-2 items-center justify-center"
        >
          <img src="assets/github-logo.png" class="" />
        </div>
      </div>
    </div>
  </div>
</section>
