<section
  class="flex flex-col xl:w-[79vw] xl:ml-[20vw] items-center justify-center bg-[#020202] h-max xl:h-screen relative md:p-8 p-4 mt-44 md:mt-3 lg:mt-0 lg:space-y-48 md:space-y-24 space-y-16"
>
  <h1 class="text-7xl text-[#B300FF] font-italiano font-bold tracking-wider">
    Projects :
  </h1>
  <div
    class="flex flex-col lg:flex-row items-center justify-center lg:justify-between w-full lg:space-x-12 space-x-0 space-y-12 lg:space-y-0"
  >
    <div
      class="relative flex flex-col py-4 items-center justify-between bg-cover bg-center w-full md:w-[650px] h-[400px] rounded-[30px] border border-b-4 border-[#B300FF] duration-300 hover:duration-300 hover:border-white group"
      style="background-image: url('assets/online-courses.png')"
    >
      <div
        class="absolute inset-0 rounded-[30px] bg-black bg-opacity-50 group-hover:bg-opacity-60 group-hover:backdrop-blur-md duration-500"
      ></div>
      <h1
        class="text-white text-xl sm:text-2xl justify-start font-bold font-mono opacity-0 group-hover:text-[#B300FF] group-hover:translate-y-0 translate-y-[-20px] group-hover:opacity-100 duration-300 hover:duration-300 px-2"
      >
        Online Courses Web Application
      </h1>
      <div
        class="absolute bottom-0 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-10 p-6 w-full duration-300 hover:duration-300 bg-transparent rounded-[30px]"
      >
        <ul
          class="text-sm sm:text-md text-white font-sans font-semibold list-disc px-4"
        >
          <li>
            <span class="text-[#B300FF]">Role:</span> Full Stack Developer
          </li>
          <li>
            <span class="text-[#B300FF]">Technologies Used:</span> Node.js,
            NestJS, Angular, MySQL
          </li>
          <li>
            <span class="text-[#B300FF]">Description:</span>
            Developed a comprehensive online courses platform featuring course
            listings, user authentication, and course enrollment. Ensured a
            responsive design to enhance user accessibility across all devices.
          </li>
          <li>
            <span class="text-[#B300FF]">Achievements:</span>
            Successfully integrated key features, demonstrating my ability to
            manage full stack development and deliver a polished, user-friendly
            product.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="relative flex flex-col py-4 items-center justify-between bg-cover bg-center w-full md:w-[650px] h-[400px] rounded-[30px] border border-b-4 border-[#B300FF] duration-300 hover:duration-300 hover:border-white group"
      style="background-image: url('assets/pricing-app.png')"
    >
      <div
        class="absolute inset-0 rounded-[30px] bg-black bg-opacity-50 group-hover:bg-opacity-70 group-hover:backdrop-blur-lg duration-500"
      ></div>
      <h1
        class="text-white text-xl sm:text-2xl justify-start font-bold font-mono opacity-0 group-hover:text-[#B300FF] group-hover:translate-y-0 translate-y-[-20px] group-hover:opacity-100 duration-300 hover:duration-300 px-2"
      >
        Simple Page Layout for Client
      </h1>
      <div
        class="absolute bottom-0 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-10 p-6 w-full duration-300 hover:duration-300 bg-transparent rounded-[30px]"
      >
        <ul
          class="text-sm sm:text-md text-white font-sans font-semibold list-disc px-4"
        >
          <li><span class="text-[#B300FF]">Role:</span> Frontend Developer</li>
          <li>
            <span class="text-[#B300FF]">Technologies Used:</span> HTML, CSS,
            JavaScript
          </li>
          <li>
            <span class="text-[#B300FF]">Description:</span>
            Created a visually appealing and user-friendly webpage layout that
            exceeded client expectations. Ensured compatibility across all major
            browsers, providing a seamless user experience.
          </li>
          <li>
            <span class="text-[#B300FF]">Achievements:</span>
            Delivered the project ahead of schedule, receiving high praise for
            both design and functionality.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center text-start px-6 space-y-4"
  >
    <h1 class="text-2xl text-[#B300FF] font-mono font-bold">
      EXPLORE MY PROJECTS AND CODE SAMPLES ON MY
      <span class="text-white">GitHub</span> PROFILE<span class="text-white"
        >:</span
      >
    </h1>
    <div class="flex items-center justify-center text-start">
      <ul class="list-disc pl-6">
        <li
          class="text-5xl text-white font-italiano font-bold marker:text-[#B300FF]"
        >
          <a
            href="https://github.com/Nika138"
            target="_blank"
            rel="noopener noreferrer"
            >https://github.com/Nika138</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
