<!-- <section
  class="flex flex-col bg-[#020202] h-max xl:w-[79vw] xl:ml-[21vw] space-y-24 py-24 px-12"
>
  <div class="flex items-start justify-start text-start">
    <h1
      class="relative text-[#e6e6e6] text-5xl font-bold after:content-[''] after:block after:w-1/4 after:h-1 after:bg-[#B300FF] after:mt-2 after:absolute after:left-0 after:bottom-[-6px] before:content-[''] before:block before:w-1/6 before:h-1 before:bg-[#B300FF] before:absolute before:left-0 before:bottom-[-12px] before:mt-2"
    >
      Projects
    </h1>
  </div>
  <div class="flex flex-row items-center justify-between px-6 space-x-6">
    <div
      class="relative flex flex-col py-4 items-center justify-between bg-cover bg-center w-[650px] h-[400px] rounded-[30px] border border-b-4 border-[#B300FF] duration-300 hover:duration-300 hover:border-white group"
      style="background-image: url('assets/online-courses.png')"
    >
      <div
        class="absolute inset-0 rounded-[30px] bg-black bg-opacity-50 group-hover:bg-opacity-60 group-hover:backdrop-blur-md duration-500"
      ></div>
      <h1
        class="text-white text-2xl justify-start font-bold font-mono opacity-0 group-hover:text-[#B300FF] group-hover:translate-y-0 translate-y-[-20px] group-hover:opacity-100 duration-300 hover:duration-300"
      >
        Online Courses Web Application
      </h1>
      <div
        class="absolute bottom-0 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-10 p-6 w-full duration-300 hover:duration-300 bg-transparent rounded-[30px]"
      >
        <ul class="text-md text-white font-sans font-semibold list-disc px-4">
          <li>
            <span class="text-[#B300FF]">Role:</span> Full Stack Developer
          </li>
          <li>
            <span class="text-[#B300FF]">Technologies Used:</span> Node.js,
            NestJS, Angular, MySQL
          </li>
          <li>
            <span class="text-[#B300FF]">Description:</span>
            Developed a comprehensive online courses platform featuring course
            listings, user authentication, and course enrollment. Ensured a
            responsive design to enhance user accessibility across all devices.
          </li>
          <li>
            <span class="text-[#B300FF]">Achievements:</span>
            Successfully integrated key features, demonstrating my ability to
            manage full stack development and deliver a polished, user-friendly
            product.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="relative flex flex-col py-4 items-center justify-between bg-cover bg-center w-[650px] h-[400px] rounded-[30px] border border-b-4 border-[#B300FF] duration-300 hover:duration-300 hover:border-white group"
      style="background-image: url('assets/chat-app.png')"
    >
      <div
        class="absolute inset-0 rounded-[30px] bg-black bg-opacity-50 group-hover:bg-opacity-80 group-hover:backdrop-blur-lg duration-500"
      ></div>
      <h1
        class="text-white text-2xl justify-start font-bold font-mono opacity-0 group-hover:text-[#B300FF] group-hover:translate-y-0 translate-y-[-20px] group-hover:opacity-100 duration-300 hover:duration-300"
      >
        Simple Chat Application
      </h1>
      <div
        class="absolute bottom-0 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-10 p-6 w-full duration-300 hover:duration-300 bg-transparent rounded-[30px]"
      >
        <ul class="text-md text-white font-sans font-semibold list-disc px-4">
          <li><span class="text-[#B300FF]">Role:</span> Backend Developer</li>
          <li>
            <span class="text-[#B300FF]">Technologies Used:</span> ExpressJS
          </li>
          <li>
            <span class="text-[#B300FF]">Description:</span>
            Engineered a chat application supporting real-time messaging between
            users. Focused on efficient data handling and robust server-side
            performance.
          </li>
          <li>
            <span class="text-[#B300FF]">Achievements:</span>
            Implemented a secure and scalable architecture, enhancing user
            interaction and experience.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <div
      class="relative flex flex-col py-4 items-center justify-between bg-cover bg-center w-[650px] h-[400px] rounded-[30px] border border-b-4 border-[#B300FF] duration-300 hover:duration-300 hover:border-white group"
      style="background-image: url('assets/pricing-app.png')"
    >
      <div
        class="absolute inset-0 rounded-[30px] bg-black bg-opacity-50 group-hover:bg-opacity-70 group-hover:backdrop-blur-lg duration-500"
      ></div>
      <h1
        class="text-white text-2xl justify-start font-bold font-mono opacity-0 group-hover:text-[#B300FF] group-hover:translate-y-0 translate-y-[-20px] group-hover:opacity-100 duration-300 hover:duration-300"
      >
        Simple Page Layout for Client
      </h1>
      <div
        class="absolute bottom-0 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-10 p-6 w-full duration-300 hover:duration-300 bg-transparent rounded-[30px]"
      >
        <ul class="text-md text-white font-sans font-semibold list-disc px-4">
          <li><span class="text-[#B300FF]">Role:</span> Frontend Developer</li>
          <li>
            <span class="text-[#B300FF]">Technologies Used:</span> HTML, CSS,
            JavaScript
          </li>
          <li>
            <span class="text-[#B300FF]">Description:</span>
            Created a visually appealing and user-friendly webpage layout that
            exceeded client expectations. Ensured compatibility across all major
            browsers, providing a seamless user experience.
          </li>
          <li>
            <span class="text-[#B300FF]">Achievements:</span>
            Delivered the project ahead of schedule, receiving high praise for
            both design and functionality.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-start justify-start text-start px-6 space-y-4"
  >
    <h1 class="text-2xl text-[#B300FF] font-mono font-bold">
      EXPLORE MY PROJECTS AND CODE SAMPLES ON MY
      <span class="text-white">GitHub</span> PROFILE<span class="text-white"
        >:</span
      >
    </h1>

    <div class="flex items-start justify-start text-start">
      <ul class="list-disc pl-6">
        <li
          class="text-4xl text-white font-italiano font-bold marker:text-[#B300FF]"
        >
          <a
            href="https://github.com/Nika138"
            target="_blank"
            rel="noopener noreferrer"
            >https://github.com/Nika138</a
          >
        </li>
      </ul>
    </div>
  </div>
</section> -->
