<section
  class="flex flex-col bg-[#020202] h-max xl:w-[79vw] xl:ml-[20.4vw] space-y-24 py-24 px-12"
>
  <div class="flex items-start justify-start text-start">
    <h1
      class="relative text-[#e6e6e6] text-5xl font-bold after:content-[''] after:block after:w-1/4 after:h-1 after:bg-[#B300FF] after:mt-2 after:absolute after:left-0 after:bottom-[-6px] before:content-[''] before:block before:w-1/6 before:h-1 before:bg-[#B300FF] before:absolute before:left-0 before:bottom-[-12px] before:mt-2"
    >
      Contact Me
    </h1>
  </div>
  <div class="flex flex-col items-center justify-center space-y-20">
    <div
      class="flex flex-col items-center justify-center text-center space-y-2"
    >
      <h1 class="text-3xl text-[#B300FF] font-bold">
        Do You Have Any Questions?
      </h1>
      <h2 class="text-xl text-white font-mono font-bold">
        I'M AT YOUR SERVICE
      </h2>
    </div>
    <div class="flex justify-evenly items-center space-x-36">
      <div class="flex flex-col text-center space-y-2">
        <div class="text-[#B300FF] text-4xl">
          <i class="fa-solid fa-phone"></i>
        </div>
        <p class="text-white text-xl font-bold">Phone Number</p>
        <p class="text-[#e6e6e6] text-md font-semibold">+995 558 14 43 53</p>
      </div>
      <div class="flex flex-col text-center space-y-2">
        <div class="text-[#B300FF] text-4xl">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <p class="text-white text-xl font-bold">Email</p>
        <p class="text-[#e6e6e6] text-md font-semibold">
          nikab6264&#64;gmail.com
        </p>
      </div>
      <div class="flex flex-col text-center space-y-2">
        <div class="text-[#B300FF] text-4xl">
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <p class="text-white text-xl font-bold">Linkedin</p>
        <a
          href="https://bit.ly/nika-bukia"
          class="text-[#e6e6e6] text-md font-semibold"
          target="_blank"
          rel="noopener noreferrer"
        >
          https://bit.ly/nika-bukia
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center space-y-12">
    <div
      class="flex flex-col items-center justify-center text-center space-y-3"
    >
      <h1 class="text-3xl text-[#B300FF] font-bold">SEND ME AN EMAIL</h1>
      <h2 class="text-xl text-white font-mono font-bold">Quick to respond</h2>
    </div>
    <div class="flex flex-col justify-center items-start space-y-8">
      <form
        action=""
        class="flex flex-col space-y-8 items-start justify-center text-white"
      >
        <div class="flex justify-evenly items-center space-x-6">
          <input
            type="text"
            class="w-[400px] h-[45px] bg-[#141414] rounded-[15px] text-[#999999] placeholder:text-[#686868] outline-none border border-[#313131] pl-4"
            placeholder="Name"
          />
          <input
            type="text"
            class="w-[400px] h-[45px] bg-[#141414] rounded-[15px] text-[#999999] placeholder:text-[#686868] outline-none border border-[#313131] pl-4"
            placeholder="Email"
          />
        </div>
        <input
          type="text"
          class="w-[824px] h-[45px] bg-[#141414] rounded-[15px] text-[#999999] placeholder:text-[#686868] outline-none border border-[#313131] pl-4"
          placeholder="Subject"
        />
        <textarea
          class="w-[824px] bg-[#141414] rounded-[15px] text-[#999999] placeholder:text-[#686868] outline-none border border-[#313131] pl-4 pt-1 resize-none"
          rows="6"
          placeholder="Message..."
        ></textarea>
      </form>
      <button
        class="flex items-center justify-center bg-[#B300FF] w-[200px] h-[50px] border border-[#B300FF] rounded-[15px] hover:bg-[#020202] duration-300 hover:duration-300 cursor-pointer text-white hover:text-[#B300FF] font-medium text-lg"
      >
        Send Message
      </button>
    </div>
  </div>
</section>
