<section
  class="hidden xl:flex flex-col items-center justify-between xl:w-[20vw] bg-[#050505] p-4 py-6 min-h-screen fixed top-0 left-0"
>
  <!-- Logo/Title Section -->
  <div class="flex items-center justify-start text-center pt-8">
    <h1 class="text-4xl font-playfair font-bold italic text-[#B300FF]">NIKA</h1>
  </div>

  <!-- Navigation Links Section -->
  <div class="flex flex-grow flex-col items-center justify-center">
    <ul class="text-2xl font-bold italic space-y-6">
      <li
        class="border-b-[1px] border-[#181818] pb-1 w-full max-w-[200px] text-[#e6e6e6]"
      >
        <a
          class="cursor-pointer duration-200 hover:text-[#8d8d8d] flex items-center justify-center"
        >
          <i class="fa-solid fa-house pr-2 w-[24px] h-[24px]"></i>
          Home
        </a>
      </li>

      <li
        class="border-b-[1px] border-[#181818] pb-1 w-full max-w-[200px] text-[#e6e6e6]"
      >
        <a
          class="cursor-pointer duration-200 hover:text-[#8d8d8d] flex items-center justify-center"
        >
          <i class="fa-solid fa-microchip pr-2 w-[24px] h-[24px]"></i>
          Tech Stack
        </a>
      </li>

      <li
        class="border-b-[1px] border-[#181818] pb-1 w-full max-w-[200px] text-[#e6e6e6]"
      >
        <a
          class="cursor-pointer duration-200 hover:text-[#8d8d8d] flex items-center justify-center"
        >
          <i class="fa-solid fa-briefcase pr-2 w-[24px] h-[24px]"></i>
          Projects
        </a>
      </li>

      <li
        class="border-b-[1px] border-[#181818] pb-1 w-full max-w-[200px] text-[#e6e6e6]"
      >
        <a
          class="cursor-pointer duration-200 hover:text-[#8d8d8d] flex items-center justify-center"
        >
          <i class="fa-solid fa-envelope pr-2 w-[24px] h-[24px]"></i>
          Contacts
        </a>
      </li>
    </ul>
  </div>
</section>
