<section
  class="flex flex-col bg-[#020202] h-max xl:w-[79vw] xl:ml-[20.4vw] space-y-24 py-24 px-12"
>
  <div class="flex items-start justify-start text-start">
    <h1
      class="relative text-[#e6e6e6] text-5xl font-bold after:content-[''] after:block after:w-1/4 after:h-1 after:bg-[#B300FF] after:mt-2 after:absolute after:left-0 after:bottom-[-6px] before:content-[''] before:block before:w-1/6 before:h-1 before:bg-[#B300FF] before:absolute before:left-0 before:bottom-[-12px] before:mt-2"
    >
      Tech Stack
    </h1>
  </div>
  <div class="flex flex-col items-start justify-start space-y-6">
    <div class="flex flex-col space-y-8">
      <h1 class="text-[#e6e6e6] text-4xl font-bold font-mono">
        Basic Understanding<span class="text-[#B300FF]">:</span>
      </h1>
      <div class="flex justify-evenly items-start space-x-6">
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/cpp_logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">C++</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div
            class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] justify-center pt-8"
          >
            <img src="assets/PHP-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">PHP</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/mysql-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">MYSQL</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/postgresql-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">POSTGRESQL</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%]">
            <img src="assets/python-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">PYTHON</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start justify-start space-y-6">
    <div class="flex flex-col space-y-8">
      <h1 class="font-italiano font-light text-7xl text-[#B300FF]">
        Proficient <span class="text-white">:</span>
      </h1>
      <div class="flex justify-evenly items-start space-x-6">
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/javascript-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">JavaScript</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/nodejs-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">NodeJS</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/expressjs-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">ExpressJS</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/nestjs-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">NestJS</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/angular-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">Angular</h1>
        </div>
      </div>
      <div class="flex justify-evenly items-start space-x-6 pt-4">
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
            <img src="assets/html-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">HTML5</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-4">
            <img src="assets/css_logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">CSS3</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-6">
            <img src="assets/bootstrap_logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">Bootstrap</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
        >
          <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-6">
            <img src="assets/tailwind-logo.png" class="" />
          </div>
          <h1 class="text-2xl font-bold text-white">Tailwind</h1>
        </div>
        <div
          class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#020202] rounded-3xl border-b-4 border-[#020202] space-y-6"
        ></div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start justify-start space-y-6">
    <div class="flex flex-col space-y-8">
      <h1 class="text-[#e6e6e6] text-4xl font-bold font-playfair">
        Version <span class="text-[#B300FF]">Control</span>:
      </h1>
    </div>
    <div class="flex justify-evenly items-start space-x-6">
      <div
        class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
      >
        <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
          <img src="assets/git-logo.png" class="" />
        </div>
        <h1 class="text-2xl font-bold text-white">Git</h1>
      </div>
      <div
        class="flex flex-col items-center justify-start pt-8 w-[200px] h-[200px] bg-[#050505] rounded-3xl border-b-4 border-[#B300FF] space-y-6"
      >
        <div class="w-[80px] h-[80px] bg-[#050505] rounded-[50%] pt-2">
          <img src="assets/github-logo.png" class="" />
        </div>
        <h1 class="text-2xl font-bold text-white">GitHub</h1>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start justify-start space-y-6">
    <div class="flex flex-col space-y-8">
      <h1 class="text-[#e6e6e6] text-4xl font-bold font-playfair italic">
        <span class="text-[#B300FF]">Additional</span> Information
        <span class="text-[#B300FF]">:</span>
      </h1>
    </div>
    <ul
      class="flex flex-col items-start justify-start text-start pl-12 list-disc"
    >
      <li
        class="marker:text-[#B300FF] text-white text-xl font-bold font-mono italic"
      >
        <span class="text-[#B300FF]">Independent Worker</span>: Proven ability
        to work independently on projects and meet deadlines.
      </li>
      <li
        class="marker:text-[#B300FF] text-white text-xl font-bold font-mono italic"
      >
        <span class="text-[#B300FF]">Problem Solver</span>: Ready to tackle new
        challenges and find creative solutions in web development.
      </li>
      <li
        class="marker:text-[#B300FF] text-white text-xl font-bold font-mono italic"
      >
        <span class="text-[#B300FF]">Technical Skills</span>: Proficient in VS
        Code
      </li>
      <li
        class="marker:text-[#B300FF] text-white text-xl font-bold font-mono italic"
      >
        <span class="text-[#B300FF]">Soft Skills</span>: Strong communication,
        teamwork, and adaptability.
      </li>
    </ul>
  </div>
</section>
