<section
  class="flex flex-row xl:w-[79vw] xl:ml-[21vw] items-center justify-between bg-[#020202] h-screen"
>
  <div
    class="flex flex-col w-3/5 items-start justify-center space-y-6 pb-24 pl-12"
  >
    <div class="flex flex-col items-start justify-center">
      <div class="flex items-center justify-center text-start">
        <h1 class="text-5xl text-white font-bold">
          Hello, my name is
          <span class="text-[#B300FF] font-italiano font-light text-6xl"
            >Nika Bukia</span
          >
        </h1>
      </div>
      <div
        class="flex flex-col items-start justify-center py-3 text-start space-y-6"
      >
        <h1 class="text-4xl text-white font-bold">
          I'm a <span class="text-[#B300FF]">Web Developer</span>
        </h1>
        <p class="text-xl text-white font-medium font-serif">
          I'm Full-Stack Web Developer with a decent skill set and a passion for
          crafting exceptional digital experiences<span
            class="text-[#B300FF] text-2xl"
            >...</span
          >
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center py-12">
      <a
        class="flex items-center justify-center bg-[#B300FF] w-[200px] h-[50px] border border-[#B300FF] rounded-[20px] hover:bg-[#020202] duration-300 hover:duration-300 cursor-pointer text-white hover:text-[#B300FF] font-medium text-lg"
        >Tech Stack</a
      >
    </div>
  </div>
  <div class="block box-border">
    <img
      [ngClass]="{ 'fade-in': isLoaded }"
      (load)="onImageLoad()"
      class="absolute w-[100px] top-[120px] right-[170px]"
      src="assets/top-right.png"
    />
    <img
      [ngClass]="{ 'fade-in': isLoaded }"
      (load)="onImageLoad()"
      class="absolute w-[100px] top-[120px] right-[490px]"
      src="assets/top-left.png"
    />
    <img
      [ngClass]="{ 'fade-in': isLoaded }"
      (load)="onImageLoad()"
      class="absolute w-[100px] bottom-[250px] right-[170px]"
      src="assets/bottom-right.png"
    />
    <img
      [ngClass]="{ 'fade-in': isLoaded }"
      (load)="onImageLoad()"
      class="absolute w-[100px] bottom-[250px] right-[490px]"
      src="assets/bottom-left.png"
    />
  </div>

  <div class="flex w-2/5 items-start justify-start pl-16 pb-32">
    <img
      src="assets/875739DC-9FB3-4E27-A64D-9CBE51E0159D-removebg.png"
      class="w-[325px] h-[450px] rounded-[10px]"
    />
  </div>
</section>
