<section
  class="flex flex-col md:flex-row xl:w-[79vw] xl:ml-[20vw] items-center justify-center md:justify-between bg-[#020202] h-screen relative md:p-8 p-4"
>
  <div
    class="flex flex-col w-full xl:w-3/5 items-start justify-center space-y-6 p-4 md:p-12 xl:pl-20 xl:pb-0"
  >
    <div class="flex flex-col items-start justify-center">
      <h1 class="text-4xl xl:text-5xl text-white font-bold">
        Hello, my name is
        <span
          class="text-[#B300FF] font-italiano font-light text-5xl xl:text-6xl"
        >
          Nika Bukia
        </span>
      </h1>
    </div>

    <div class="flex flex-col items-start justify-center py-3 space-y-6">
      <h1 class="text-3xl xl:text-4xl text-white font-bold">
        I'm a <span class="text-[#B300FF]">Web Developer</span>
      </h1>
      <p class="text-lg xl:text-xl text-white font-medium font-serif">
        I'm a Full-Stack Web Developer with a decent skill set and a passion for
        crafting exceptional digital experiences
        <span class="text-[#B300FF] text-xl">...</span>
      </p>
    </div>

    <div class="flex items-center justify-start">
      <a
        class="flex items-center justify-center bg-[#B300FF] w-[200px] h-[50px] border border-[#B300FF] rounded-[20px] hover:bg-[#020202] duration-300 hover:text-[#B300FF] text-white font-medium text-lg cursor-pointer"
      >
        Tech Stack
      </a>
    </div>
  </div>

  <div
    class="hidden md:flex relative w-full xl:w-2/5 items-center justify-center p-12 xl:pb-32 xl:pl-0"
  >
    <img
      src="assets/875739DC-9FB3-4E27-A64D-9CBE51E0159D-removebg.png"
      class="w-[275px] lg:w-[325px] h-auto rounded-[10px] fade-in"
      alt="Nika Bukia"
    />
  </div>
</section>
