@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: #b300ff;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar {
  width: 12px;
  background: #020202;
  border: none;
}
::-webkit-scrollbar-track {
  background: #020202;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #020202;
  border: none;
}

@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}

::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 200ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}

::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
