@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: #b300ff;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar {
  width: 12px;
  background: #020202;
  border: none;
}
::-webkit-scrollbar-track {
  background: #020202;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-track-piece {
  background-color: #020202;
  border: none;
}
